# Project exclude paths
/.gradle/
/Code Sharing Platform/task/build/
/Code Sharing Platform/task/out/
/Problems/Account and its owner/out/
/Problems/Account and its owner/out/production/classes/
/Problems/Adding N minutes/out/
/Problems/Adding N minutes/out/production/classes/
/Problems/Adding values/out/
/Problems/Adding values/out/production/classes/
/Problems/Application as a class/out/
/Problems/Application as a class/out/production/classes/
/Problems/Army/out/
/Problems/Army/out/production/classes/
/Problems/Avoid division by zero/out/
/Problems/Avoid division by zero/out/production/classes/
/Problems/Avoid NPE/out/
/Problems/Avoid NPE/out/production/classes/
/Problems/Book/out/
/Problems/Book/out/production/classes/
/Problems/Books/out/
/Problems/Books/out/production/classes/
/Problems/Calculating factorials/out/
/Problems/Calculating factorials/out/production/classes/
/Problems/calculator/build/
/Problems/calculator/out/
/Problems/calculator/out/production/classes/
/Problems/calculator/out/test/classes/
/Problems/Calculator with four methods/out/
/Problems/Calculator with four methods/out/production/classes/
/Problems/Car/out/
/Problems/Car/out/production/classes/
/Problems/Circle/out/
/Problems/Circle/out/production/classes/
/Problems/Complex numbers/out/
/Problems/Complex numbers/out/production/classes/
/Problems/Complex numbers (1)/out/
/Problems/Complex numbers (1)/out/production/classes/
/Problems/Concat positive numbers/out/
/Problems/Concat positive numbers/out/production/classes/
/Problems/Correct the program/out/
/Problems/Correct the program/out/production/classes/
/Problems/Counter/out/
/Problems/Counter/out/production/classes/
/Problems/Create a full name/out/
/Problems/Create a full name/out/production/classes/
/Problems/Creating list/out/
/Problems/Creating list/out/production/classes/
/Problems/Decompose a math function/out/
/Problems/Decompose a math function/out/production/classes/
/Problems/Division/out/
/Problems/Division/out/production/classes/
/Problems/Find all mondays/out/
/Problems/Find all mondays/out/production/classes/
/Problems/Find the nearest number/out/
/Problems/Find the nearest number/out/production/classes/
/Problems/Get first and last elements/out/
/Problems/Get first and last elements/out/production/classes/
/Problems/Inner boxes/out/
/Problems/Inner boxes/out/production/classes/
/Problems/Merging date-time instances/out/
/Problems/Merging date-time instances/out/production/classes/
/Problems/Only true or false/out/
/Problems/Only true or false/out/production/classes/
/Problems/Pastry packing optimization/out/
/Problems/Pastry packing optimization/out/production/classes/
/Problems/Preparing full name/out/
/Problems/Preparing full name/out/production/classes/
/Problems/Print "We are robots!"/out/
/Problems/Print "We are robots!"/out/production/classes/
/Problems/Print dates of a year with an offset/out/
/Problems/Print dates of a year with an offset/out/production/classes/
/Problems/Raise to the power/out/
/Problems/Raise to the power/out/production/classes/
/Problems/Representing time as a class/out/
/Problems/Representing time as a class/out/production/classes/
/Problems/Return empty string when argument is null/out/
/Problems/Return empty string when argument is null/out/production/classes/
/Problems/Safe converting/out/
/Problems/Safe converting/out/production/classes/
/Problems/Seconds between two time points/out/
/Problems/Seconds between two time points/out/production/classes/
/Problems/Simulating a clock/out/
/Problems/Simulating a clock/out/production/classes/
/Problems/The first and the last day of a month/out/
/Problems/The first and the last day of a month/out/production/classes/
/Problems/The n-th day from the end of a month/out/
/Problems/The n-th day from the end of a month/out/production/classes/
/Problems/The passed hours since the beginning of year/out/
/Problems/The passed hours since the beginning of year/out/production/classes/
/Problems/User/out/
/Problems/User/out/production/classes/
/Problems/Whole hours between two date-time pairs/out/
/Problems/Whole hours between two date-time pairs/out/production/classes/